*
!.gitignore
!*.md
!agromanager/
!*.py
!*.html
!*.css
!*.png
!docker-compose.yml
!dockerfile
!docs
!docs/**
!apps
!apps/animal
!apps/atividades
!apps/monitoramento
!utils
!templates
!templates/includes
!db.sqlite3
!static
!.dockerignore
!.github
!.github/**
!apps/monitoramento
!.dockerignore
!apps/estoque
